.vc_custom_1447677425868 {
    padding-top: 70px !important;
}

.vc_custom_1448019881202 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1447678838422 {
    padding-top: 40px !important;
    padding-bottom: 10px !important;
}