.vc_custom_1447929125508 {
    border-top-width: 3px !important;
    padding-top: 70px !important;
    padding-bottom: 5px !important;
    border-top-color: #c18f59 !important;
    border-top-style: solid !important;
}

.vc_custom_1448031571314 {
    padding-bottom: 20px !important;
}

.vc_custom_1448031627546 {
    padding-bottom: 75px !important;
}

.vc_custom_1447929132147 {
    padding-top: 36px !important;
}

.vc_custom_1448031635881 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}