.vc_custom_1447676377452 {
            padding-top: 115px !important;
            padding-bottom: 120px !important;
        }

        .vc_custom_1447673328881 {
            border-bottom-width: 3px !important;
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            background-color: #353c4e !important;
            border-bottom-color: #c18f59 !important;
            border-bottom-style: solid !important;
        }

        .vc_custom_1447671347714 {
            padding-top: 90px !important;
        }

        .vc_custom_1447665617658 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447665628867 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447665635018 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447665667284 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447665660344 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447665676106 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1448017440958 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .vc_custom_1447673081832 {
            padding-top: 20px !important;
        }

        .vc_custom_1447673090601 {
            padding-top: 20px !important;
        }

        .vc_custom_1447673099991 {
            padding-top: 20px !important;
        }

        .vc_custom_1447673106168 {
            padding-top: 20px !important;
        }

        .vc_custom_1447673119602 {
            padding-top: 20px !important;
        }