
.vc_custom_1450195972481 {
    padding-top: 70px !important;
}

.vc_custom_1579403456925 {
    padding-top: 40px !important;
    padding-bottom: 45px !important;
}

.vc_custom_1447931640477 {
    padding-top: 32px !important;
    padding-bottom: 20px !important;
}

.vc_custom_1447931655575 {
    background-color: #f2f2f2 !important;
}

.vc_custom_1447932610614 {
    padding-top: 95px !important;
    padding-bottom: 35px !important;
}

.vc_custom_1447931655575 {
    background-color: #f2f2f2 !important;
}

.vc_custom_1447318589805 {
    padding-top: 17px !important;
}

.vc_custom_1448026414830 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
